* {
    box-sizing: border-box;
    margin: 0;
}

.page--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
    margin: auto;
    
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.dark-gray {
    color: $dark-gray;
}

.orange {
    color: $orange;
}

.hero--section {
    
    @include respond-below(sm) {
      padding: 16px;
    }
}