.hero--content-flex {
    display: flex;
    flex-direction: row;
    gap: 100px;
    
    @include respond-below(sm) {
      
      flex-direction: column;
      
    }
    justify-content: center;
}

.hero--image {
    max-width: 970px;
    margin-top: 32px;
    border-radius: 12px;
    @include respond-below(sm) {
      max-width:rem(352px);
      
    }
    
}

.ingredients--title {
    font-family: $playfair;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: $dark-gray;
    margin-top: 48px;
    @include respond-below(sm) {
        font-size: 18px;
        line-height: 24px;
    }
}

.ingredients--subtitle {
    font-family: $playfair;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: $dark-gray;
    margin: 32px 0;
    @include respond-below(sm) {
        font-size: 16px;
        line-height: 21px;
    }
}

.ingedients--list {
    color: $dark-gray;
    font-family: $montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    max-width: 600px;
}

.instructions--items {
    margin-top: 32px;
}

.instructions--list {
    font-family: $montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    max-width: 600px;
}

.source--link {
    font-family: $montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $lightest-gray;
    margin-top: 48px;
}

.hero--rightsection {
    box-shadow: $box-shadow;
    padding: 32px;
    max-height: 367px;
    max-width: 220px;
    border-radius: 12px;
    margin-top: 48px;
    gap: 32px;
    @include respond-below(sm) {
        order: -1;
        box-shadow: none;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 8px;
        

    }
    
}

.card--wrapper {
    align-items: center;
    justify-content: center;
    min-width: 150px;
    @include respond-below(sm) {
      min-width: rem(100px);
    }
    

}

.card--title {
    font-family: $montserrat;
    color: $lightest-gray;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    @include respond-below(sm) {
        font-size: rem(8px);
        line-height: rem(10px);
    }
}

.card--infos {
    font-family: $montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 4px;
    @include respond-below(sm) {
        font-size: rem(10px);
        line-height: rem(12px);
    }
    
}

.card--info {
    min-width: 100px;
    @include respond-below(sm) {
      min-width: rem(75px);
    }
}

.item--container {
    padding: 4px;
}

.list {
    align-self: flex-start;
}

.item--container-instructions {
    margin: 32px 0;
}

.others {
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include respond-below(sm) {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
}

.colored {
    @include respond-below(sm) {
        place-self: flex-start;
    }
}