.hero--content-flex {
    display: flex;
    flex-direction: row;
    min-width: 970px;
    justify-content: center;
}

.hero--image {
    max-width: 970px;
    
}

.ingredients--title {
    font-family: $playfair;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: $dark-gray;
    margin-top: 48px;
}

.ingredients--subtitle {
    font-family: $playfair;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: $dark-gray;
    margin: 32px 0;
}

.ingedients--list {
    color: $dark-gray;
    font-family: $montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    max-width: 600px;
}

.orange {
    color: $orange;
}

.instructions--list {
    font-family: $montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    max-width: 600px;
}

.source--link {
    font-family: $montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $lightest-gray;
}

.hero--rightsection {
    box-shadow: $box-shadow;
    padding: 57px 43px;
    max-height: 367px;
    border-radius: 12px;
}

.card--wrapper {
    align-items: center;
    justify-content: center;
    min-width: 150px;
    padding: 20px;

}

.card--title {
    font-family: $montserrat;
    color: $lightest-gray;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
}

.card--infos {
    font-family: $montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 4px;
    
}

.card--info {
    min-width: 120px;
}

.item--container {
    padding: 4px;
}