// Colors
$black: #000000;
$gray: #4F4F4F;
$orange: #F2994A;
$lightest-gray: #BDBDBD;
$dark-gray: #333333;
$footer: #828282;

//Fonts
$montserrat: 'Montserrat', sans-serif;
$playfair: 'Playfair Display', serif;

//Drop Shadow
$box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);